.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-transform:uppercase;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  /* background-color: pink; */
}

.card{
  /* background-color: aqua; */
  flex: auto;
  margin: 1vh;
  padding: 0vh;

}

.list-group-item{
background-color:rosybrown;
text-transform:uppercase;
/* justify-content:space-evenly; */
padding-left:30px;
padding-right:30px;
/* padding-left: 2; */
font-size: calc(5px + 1vmin);
list-style: none;
}
/* mx-auto justify-content-between text-uppercase ml-2 mr-2  */


.contacts-title{
  padding-right: 6px;


}

.name-title{
  padding-right: 6px;

}